@import "../../../assets/stylesheet/variables.scss";

.Work {
  display: grid;
  color: $dark-color;
  align-items: center;
  justify-items: center;
  white-space: pre-wrap;
  grid-template-rows: 1fr min-content 1em min-content 1fr;
  row-gap: 3em;
  grid-template-columns: 4vh repeat(2, 1fr) 4vh;
  grid-template-areas:
    ". . . ."
    ". Ubisoft . ."
    ". Delimiter Delimiter ."
    ". . Straton ."
    ". . . .";
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
    text-align: justify;
  }
  li{
    margin: 0.5em;
  }
}

.Delimiter {
  grid-area: Delimiter;
  min-height: 5px;
  min-width: 81vw;
  background: black;
  color: black;
  margin: 9;
}

.Ubisoft {
  grid-area: Ubisoft;
}

.MissionTitle {
  text-decoration: underline;
}

.Straton {
  grid-area: Straton;
}
