@import "../../assets/stylesheet/variables.scss";

#Side{
    object-fit: cover;
    grid-area: Side;
    display: grid;
    border: $stroke ;
    overflow: hidden;
    img{
        grid-area: img;
        object-position: -250px;
        max-height: 97vh;
    }

}