@import "../../../assets/stylesheet/variables.scss";

%HeadButton {
  grid-area: HeadButton;
  color: $dark-color;
  font-size: 1.5em;
  text-align: center;
}

@for $i from 1 through 5 {
  .#{"HeadButton#{$i}"} {
    @extend %HeadButton;
    grid-area: HeadButton#{$i};
  }
}

@media screen and (max-width: 800px) {
}
