@import "../../assets/stylesheet/variables.scss";
    
#Header{
    grid-area: Header;
    display: grid;
    grid-template-columns: min-content 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr min-content;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "Cube1 . . . . . . . . . Cube2"
    "Cube1 . HeadButton1 . HeadButton2 . HeadButton3 . HeadButton4 . Cube2"
    "Cube1 . . . . . . . . . Cube2";
}


.Cube{
    border: $stroke;
    max-width: 4vh;
    max-height: 4vh;

}


.Cube1{
    grid-area: Cube1;
}

.Cube2{
    grid-area: Cube2;
}

