@import '../../../assets/stylesheet/variables.scss';

.About{

    display: grid;
    grid-template-columns: 1fr min-content 1fr 1fr 1fr 1fr;
    grid-template-rows: 8vh min-content 1fr 1fr 1fr;
    grid-template-areas: 
    ". . . . . ."
    ". ProfilePic Hi . . . "
    ". AboutP AboutP AboutP AboutP ."
    ". AboutP AboutP AboutP AboutP ."
    ". . . . . .";


    img{
        grid-area: ProfilePic;
        max-width: 10vh;
        border: $stroke;
    }

    h1{
        margin: 0;
        grid-area: Hi;
        font-size: 2em;
        color: $dark-color;
        text-align: left;
        vertical-align: bottom;
    }
    p{  

        grid-area: AboutP;
        text-align: justify;
        color: $dark-color;
        font-size: 1em;
        white-space: pre-wrap;}
}