@import '../../../assets/stylesheet/variables.scss';

.Home{
    h1{
        grid-area: HomeH1;
        font-size: 50px;
        color: $dark-color ;}
        text-align: center;
    
    p{
        grid-area: Homep;
        text-align: center;
        color: $dark-color;
        font-size: large;
        white-space: pre-wrap;
        
           }
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 1fr min-content  min-content 1fr;
    grid-template-areas:
    ". . ."
    ". HomeH1 ."
    ". Homep ."
    ". . ." ;

}