@import "../../assets/stylesheet/variables.scss";

%cube {
  border: $stroke;
  width: 1fr;
}

@for $i from 1 through 7 {
  .#{"cube#{$i}"} {
    @extend %cube;
    grid-area: cube#{$i};
  }
}
.long {
  background-color: $dark-color;
  grid-area: long;
  border: $stroke;
}

#Structure {
  grid-area: Structure;
  display: grid;
  grid-template-rows: 1vh;
  grid-template-columns: min-content $page-margin min-content $page-margin min-content $page-margin min-content $page-margin min-content $page-margin min-content $page-margin min-content $page-margin 1fr;
  grid-template-areas: "cube1 . cube2 . cube3 . cube4 . cube5 . cube6 . cube7 . long";
}

@media screen and (max-width: 800px) {
  .long {
    min-width: 44vw;
  }
  #Structure {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 10;
  }
}
